/* Font Import */
@import url(https://fonts.googleapis.com/css?family=Lato);

/* Base Element Styling */
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-color: black !important;
  position: relative;
  overflow: hidden;
}

li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}


/* Ease-of-use Styles */
.content {
  position: relative;
  bottom: 0;
  width: 100%;
}

.center {
  text-align: center;
  margin: auto;
}


/* Header Styling */
.header-placement {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.impaul {
  animation: 0.7s steps(1000);
  overflow: hidden;
  font-family: 'Lato';
  font-size: 120%;
}

.impaulimage {
  width: 10%;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Social Menu */
.social {
  padding-top: 20px;
  position: relative;
  justify-content: center;
}

.social-header {
  color: white;
  font-family: 'Lato';
	font-size: 18pt;
}

.social-list {
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  max-inline-size: 70%;
  max-width: 90%;
  margin: 0 auto;
}

.fa-twitter{
  color:#1DA1F2;
}

.social-item {
  height: 72px;
  width: 72px;
}

.fa:hover {
  opacity: 0.6;
  transition: 0.3s;
}
