/* Font Import */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


/* Base Element Styling */
body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-color: black !important;
}

li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}


/* Ease-of-use Styles */
.content {
  position: relative;
  bottom: 0;
  width: 100%;
}

.center {
  text-align: center;
  margin: auto;
}


/* Header Styling */
.header-placement {
  padding-top: 40px;
  padding-bottom: 40px;
}

.typewritter {
  animation: 1s steps(100);
  overflow: hidden;
  font-family: lato;
  font-size: 2em;
}


/* Social Menu */
.social {
  max-inline-size: 100%;
  block-size: auto;
}

.social {
  text-align: center;
  padding-top: 150px;
  justify-content: center;
}

.social-header {
  color: white;
  font-family: lato;
	font-size: 18pt;
}

.social-list {
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  max-inline-size: 70%;
  max-width: 90%;
  margin: 0 auto;
}

.fa-twitter{
  color:#1DA1F2;
}

.social-item {
  height: 72px;
  width: 72px;
}

.fa:hover {
  opacity: 0.6;
  transition: 0.3s;
}